@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --top: 123px;
    --nav: 50px;
    --f-height: 290px;
    // @include media-breakpoint-down(md) {
    //   --h-height: 70px;
    // }
    // @include media-breakpoint-down(sm) {
    //   --h-height: 55px;
    //   --f-height: 64px;
    // }
}

$accent-color: #E86D00;
$accent-dark: #B25400;
$bg-color: #262626;
$font-color: #ffffff;
$radius: 5px;
$transition: 300ms ease-in-out;
$font-1: 'Montserrat';
$font-2: 'SF Pro Text';
$font-3: 'roadradio';

/* mixins */
@mixin flex($dir: row, $x: center, $y: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $dir;
    justify-content: $x;
    align-items: $y;
    flex-wrap: $wrap;
}
@mixin no-appearance {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
}
@mixin safariFix {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    isolation: isolate;
    transform: translateZ(0);
}
@mixin absBG($z: 1) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: $z;
}
@mixin clamp($count, $line, $strict: false) {
    display: -webkit-box;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: $line;
    @if $strict {
       height: $line * $count;
    } @else {
       max-height: $line * $count;
    }
}
@mixin list {
    list-style: none;
    padding-left: 0px;
}
@mixin placeholder($color, $fw: 400){
    &:-moz-placeholder, &::-moz-placeholder,
    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
        color: $color;
        font-weight: $fw;
    }
    &::placeholder {
        color: $color;
        font-weight: $fw;
    }
}
@mixin contacts($f-size: 1em) {
    @include flex(column, flex-end, flex-end, nowrap);
    font-size: $f-size;
    .phone {
        display: block;
        font-size: 1.4em;
        font-weight: 700;
        text-align: right;
        text-decoration: underline;
        margin-bottom: .2em;
    }
    .icon {
        width: 1.2em;
        height: 1.2em;
    }
    .social {
        width: 1.75em;
        height: 1.75em;
    }
}

/* Typography */
a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, li, address {
    line-height: 120%;
    margin-bottom: 0px;
}
h1 {
    font-family: $font-1;
    font-weight: 700;
    font-size: 5.4em;
    text-align: left;
}
h2 {
    font-family: $font-2;
    font-size: 2.3em;
    font-weight: 700;
}
h3 {
    font-family: $font-2;
    font-size: 1.25em;
    font-weight: 700;
}
h4 {
    font-family: $font-1;
    font-size: 2.7em;
    font-weight: 500;
    text-align: left;
}
.fs {
    &-08 {font-size: 0.8em;}
    &-09 {font-size: 0.9em;}
    &-10 {font-size: 1em;}
    &-11 {font-size: 1.1em;}
    &-12 {font-size: 1.2em;}
    &-13 {font-size: 1.3em;}
    &-14 {font-size: 1.4em;}
    &-15 {font-size: 1.5em;}
    &-16 {font-size: 1.6em;}
    &-17 {font-size: 1.7em;}
    &-18 {font-size: 1.8em;}
    &-19 {font-size: 1.9em;}
    &-20 {font-size: 2em;}
    &-25 {font-size: 2.5em;}
    &-30 {font-size: 3em;}
    &-35 {font-size: 3.5em;}
    &-40 {font-size: 4em;}
}
.fw {
    &-3 {font-weight: 300;}
    &-4 {font-weight: 400;}
    &-5 {font-weight: 500;}
    &-6 {font-weight: 600;}
    &-7 {font-weight: 700;}
    &-8 {font-weight: 800;}
    &-9 {font-weight: 900;}
}

/* Form elements */
input, textarea {
    background-color: transparent;
    border: 1px solid pink;
    padding: 0.5em 1em;
    width: 100%;
    outline: none;
    display: block;
    transition: $transition;
    @include placeholder(#757575, 700);
}
label {
    @include flex(row, flex-start, center, nowrap);
    span {flex:1;}
}
select {
    @include no-appearance();
    background-color: transparent;
    color: $font-color;
    cursor: pointer;
    min-width: 120px;
    padding: 0.5em 1em;
    border: 1px solid pink;
    background: url(../imgs/icons/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 4px) 50%;
    background-size: 8px;
    transition: $transition;
    // &:hover, &:focus {
    //   background-color: rgba($pale-blue, .1);
    // }
    option {
        @include no-appearance();
        background-color: $bg-color;
        color: $font-color;
    }
}
button {
    background: none;
    border: none;
    padding: unset;
    display: block;
    font-family: inherit;
    outline: none;
    color: inherit;
}
.btn {
    @include flex(row, center, center, nowrap);
    padding: .75em 1.75em;
    text-align: center;
    transition: $transition;
    width: fit-content;
    border-radius: $radius;
    &-1 {
        @extend .btn;
        font-family: $font-2;
        color: $font-color;
        background: $accent-color;
        border: 1px solid $accent-color;
        text-transform: uppercase;
        &:hover, &:focus {
            color: $font-color;
            background: $accent-color;
            border: 1px solid rgba($font-color, .5);
            box-shadow: inset 0px 0px 2em rgba($font-color, .34), 0px 5px .5em rgba($accent-color, .5);
        }
        &:active, &.active {
            color: $font-color;
            border: 1px solid rgba($font-color, .5);
            box-shadow: inset 0px 0px 2em rgba($font-color, .34);
        }
    }
}

.mb-8 {margin-bottom: 8em;}


body {
    background-color: $bg-color;
    color: $font-color;
    font-size: 14px;
    font-family: $font-1;
}


header {
    font-family: $font-2;
    .top {
        height: var(--top);
        @include flex(row, space-between, center, nowrap);
        form {
            @include flex();
            border: 2px solid #EDEDED;
            border-radius: $radius;
            padding: 5px 15px;
            input, select {
                border: none;
                padding: .5em 0;
                font-weight: 700;
            }
            input {
                min-width: 300px;
                font-weight: 700;
            }
            hr {
                height: 20px;
                width: 1px;
                background-color: #EDEDED;
                border: none;
                margin: 0px 15px;
                opacity: 1;
            }
            select {padding-right: 12px;}
            button {
                @include flex();
                margin-left: 15px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        ul {
            @include flex();
            li {
                &:not(:first-child){border-left: 1px solid #EBF8FF;}
                a {
                    @include flex();
                    height: 20px;
                    padding: 0 15px;
                    img {
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .contacts {@include contacts(.86em);}
    }
    nav {
        height: var(--nav);
        background-color: $accent-color;
        .container {
            @include list();
            @include flex();
            height: 100%;
            li {
                height: 100%;
                flex-grow: 1;
                text-align: center;
                position: relative;
                &:not(:last-child)::after{
                    content: '';
                    position: absolute;
                    right: 0px;
                    top: 20%;
                    height: 60%;
                    width: 1px;
                    background-color: $accent-dark;
                }
                a {
                    height: 100%;
                    @include flex();
                    font-weight: 700;
                    background-color: transparent;
                    transition: $transition;
                    &:hover, &:focus, &:active {
                        color: $bg-color;
                    }
                    &.main-link {
                        background-color: $accent-dark;
                        svg {
                            width: 18px;
                            height: 12px;
                            margin-right: 15px;
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }
    }
}

main {
    min-height: calc(100vh - var(--top) - var(--nav) - var(--f-height));
}

.sec-1 {
    height: 860px;
    position: relative;
    background-color: rgba($color: #000000, $alpha: .58);
    &-bg {
        @include absBG(-1);
    }
    .btn-1 {
        font-family: $font-3;
        margin-top: 4em;
    }
}

.sec-2 {
    figure {
        padding: 1.34em;
        font-family: $font-2;
        border: 1px solid #F2F2F2;
        border-radius: $radius;
        @include flex(column, flex-start, center, nowrap);
        text-align: center;
        img {
            width: 125px;
            height: 125px;
            object-fit: contain;
            margin-bottom: 1.3em;
        }
        h3 {
            @include clamp(2, 1.2em, true);
            margin-bottom: .5em;
        }
    }
}

.sec-4 {
    border-top: 3px solid $accent-color;
    padding-top: 3.6em;
    h2 {
        font-size: 4.5em;
        line-height: 140%;
        text-transform: uppercase;
    }
    ul {
        @include list();
        font-size: 1.85em;
        li {
            border-bottom: 2px solid $accent-color;
            padding-bottom: 0.25em;
            &::before {content: '► '};
            &:not(:last-child){
                margin-bottom: 1.75em;
            }
        }
    }
}

.sec-6 {
    border-top: 3px solid $accent-color;
    padding-top: 3.6em;
    h2 {
        font-size: 4.5em;
        line-height: 140%;
        text-transform: uppercase;
    }
    ul {
        @include list();
        font-family: $font-2;
        li {
            div {
                border-bottom: 2px solid $accent-color;
                padding-bottom: 0.5em;
                p {
                    font-size: 1.5em;
                    font-weight: 700;
                    color: #C2C2C2;
                }
                .num {
                    font-size: 4.5em;
                    line-height: 100%;
                    color: $font-color;
                    margin-bottom: .2em;
                }
            }
        }
    }
}

.sec-7 {
    border-top: 3px solid $accent-color;
    padding-top: 4.85em;
    h2 {
        span {
            font-size: 1.75em;
            text-transform: uppercase;
        }
    }
}

footer {
    font-family: $font-2;
    padding: 3em 0;
    height: var(--f-height);
    hr {
        width: 64px;
        height: 4px;
        background-color: $accent-color;
        border: none;
        opacity: 1;
        margin: 1em 0
    }
    ul.menu {
        li {
            &:not(:first-child){margin-top: .75em}
            a {
                color: #CCCCCC;
                font-weight: 700;
            }
        }
    }
    ul.social {
        li {
            &:not(:first-child){margin-left: .75em}
            img {
                width: 1.5em;
                height: 1.5em;
                object-fit: contain;
            }
        }
    }
    .contacts {@include contacts(1.5em);}
}