@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --top: 123px;
    --nav: 50px;
    --f-height: 80px;
    // @include media-breakpoint-down(md) {
    //   --h-height: 70px;
    // }
    // @include media-breakpoint-down(sm) {
    //   --h-height: 55px;
    //   --f-height: 64px;
    // }
}

$accent-color: #E86D00;
$accent-dark: #B25400;
$bg-color: #262626;
$font-color: #ffffff;
$radius: .5em;
$transition: 300ms ease-in-out;
$font-1: 'Montserrat';
$font-2: 'SF Pro Text';

/* mixins */
@mixin flex($dir: row, $x: center, $y: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $dir;
    justify-content: $x;
    align-items: $y;
    flex-wrap: $wrap;
}
@mixin no-appearance {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
}
@mixin safariFix {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    isolation: isolate;
    transform: translateZ(0);
}
@mixin absBG($z: 1) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: $z;
}
@mixin clamp($count, $line, $strict: false) {
    display: -webkit-box;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: $line;
    @if $strict {
       height: $line * $count;
    } @else {
       max-height: $line * $count;
    }
}
@mixin list {
    list-style: none;
    padding-left: 0px;
}
@mixin placeholder($color, $fw: 400){
    &:-moz-placeholder, &::-moz-placeholder,
    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
        color: $color;
        font-weight: $fw;
    }
    &::placeholder {
        color: $color;
        font-weight: $fw;
    }
}

/* Typography */
a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, li, address {
    line-height: 120%;
    margin-bottom: 0px;
}

h1 {
    font-family: $font-1;
    font-weight: 700;
    font-size: 5.4em;
    text-align: left;
}
h4 {
    font-family: $font-1;
    font-size: 2.7em;
    font-weight: 500;
    text-align: left;
}
.fs {
    &-08 {font-size: 0.8em;}
    &-09 {font-size: 0.9em;}
    &-10 {font-size: 1em;}
    &-11 {font-size: 1.1em;}
    &-12 {font-size: 1.2em;}
    &-13 {font-size: 1.3em;}
    &-14 {font-size: 1.4em;}
    &-15 {font-size: 1.5em;}
    &-16 {font-size: 1.6em;}
    &-17 {font-size: 1.7em;}
    &-18 {font-size: 1.8em;}
    &-19 {font-size: 1.9em;}
    &-20 {font-size: 2em;}
    &-25 {font-size: 2.5em;}
    &-30 {font-size: 3em;}
    &-35 {font-size: 3.5em;}
    &-40 {font-size: 4em;}
}
.fw {
    &-3 {font-weight: 300;}
    &-4 {font-weight: 400;}
    &-5 {font-weight: 500;}
    &-6 {font-weight: 600;}
    &-7 {font-weight: 700;}
    &-8 {font-weight: 800;}
    &-9 {font-weight: 900;}
}

/* Form elements */
input, textarea {
    background-color: transparent;
    border: 1px solid pink;
    padding: 0.5em 1em;
    width: 100%;
    outline: none;
    display: block;
    transition: $transition;
    @include placeholder(#757575, 700);
}
label {
    @include flex(row, flex-start, center, nowrap);
    span {flex:1;}
}
select {
    @include no-appearance();
    background-color: transparent;
    color: $font-color;
    cursor: pointer;
    min-width: 120px;
    padding: 0.75em 1.65em;
    border: 1px solid pink;
    // background: url(imgs/chevron-down.svg), $glass;
    // background-repeat: no-repeat;
    // background-position: calc(100% - 0.67em) 50%, 50% 50%;
    // background-size: 1.6em, cover;
    transition: $transition;
    // &:hover, &:focus {
    //   background-color: rgba($pale-blue, .1);
    // }
    option {
        @include no-appearance();
        background-color: $bg-color;
        color: $font-color;
    }
}
button {
    background: none;
    border: none;
    padding: unset;
    display: block;
    font-family: inherit;
    outline: none;
    color: inherit;
}
.btn {
    @include flex(row, center, center, nowrap);
    padding: .65em 1.65em;
    text-align: center;
    transition: $transition;
    width: fit-content;
    font-weight: 400;
    border-radius: $radius;
    &-1 {
        @extend .btn;
        color: $font-color;
        background: $accent-color;
        border: 1px solid $accent-color;
        &:hover, &:focus {
            color: $font-color;
            background: $accent-color;
            border: 1px solid $font-color;
            box-shadow: inset 0px 0px 32.624px rgba($color: $font-color, $alpha: .34);
        }
        // &:active, &.active {
        // color: $white !important;
        // background: $gradient-1;
        // }
    }
}


body {
    background-color: $bg-color;
    color: $font-color;
    font-size: 14px;
    font-family: $font-1;
}

header {
    font-family: $font-2;
    .top {
        height: var(--top);
        @include flex(row, space-between, center, nowrap);
        form {
            @include flex();
            border: 2px solid #EDEDED;
            border-radius: $radius;
            padding: 5px 15px;
            input, select {
                border: none;
                padding: .5em 0;
                font-weight: 700;
            }
            input {
                min-width: 380px;
                font-weight: 700;
            }
            hr {
                height: 20px;
                width: 1px;
                background-color: #EDEDED;
                border: none;
                margin: 0px 15px;
                opacity: 1;
            }
            button {
                @include flex();
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        ul {
            @include flex();
            li {
                &:not(:first-child){border-left: 1px solid #EBF8FF;}
                a {
                    @include flex();
                    height: 20px;
                    padding: 0 15px;
                    img {
                        width: 16px;
                        height: 16px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .icon {
            width: 1em;
            height: 1em;
        }
        .social {
            width: 1.5em;
            height: 1.5em;
        }
    }
    nav {
        height: var(--nav);
        background-color: $accent-color;
        .container {
            @include list();
            @include flex();
            height: 100%;
            li {
                height: 100%;
                flex-grow: 1;
                text-align: center;
                a {
                    height: 100%;
                    @include flex();
                    font-weight: 700;
                    background-color: transparent;
                    transition: $transition;
                    &:hover, &:focus, &:active {
                        background-color: $accent-dark;
                    }
                    &.main-link {
                        background-color: $accent-dark;
                        img {
                            width: 18px;
                            height: 12px;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }
}


main {
    min-height: calc(100vh - var(--top) - var(--nav) - var(--f-height));
}

.sec-1 {
    height: 860px;
    position: relative;
    background-color: rgba($color: #000000, $alpha: .58);
    &-bg {
        @include absBG(-1);
    }
}

// footer {

// }